@import "tailwindcss";

@theme {
  --font-manrope: "Manrope";

  --color-light-grayish-blue: #f5f7fa;
  --color-dark-grayish-blue: #48556a;
  --color-desaturated-dark-blue: #6e8098;
  --color-grayish-blue: #9daec2;
}
